/* dashboard-style.css */

.menu a:hover {
    color: #ffffff; /* Ganti dengan warna highlight yang diinginkan */
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border-bottom: 1px solid #ecf0f1; /* Garis pemisah */
    padding-bottom: 22px; /* Tambahkan padding bottom sesuai kebutuhan */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.dashboard-container {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: #315bdc;
    color: #ecf0f1;
    padding: 20px;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Posisikan menu di sebelah kiri */
    border-right: 1px solid #ecf0f1; /* Garis pemisah */
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Menambahkan sedikit shadow */
}

.sidebar hr {
    border-top: 1px solid #ddd; /* Ganti dengan warna dan properti sesuai kebutuhan */
    margin-bottom: 20px;
}

.sidebar.collapsed {
    min-width: 50px; /* Lebar sidebar saat menyempit */
}

.sidebar.collapsed .logo h1 {
    display: none; /* Sembunyikan nama web saat menyempit */
}

.sidebar.collapsed .menu a span {
    display: none; /* Sembunyikan teks menu saat menyempit */
}

.sidebar.collapsed .toggle-button {
    text-align: center;
    border-radius: 50%; /* Agar tombol toggle tetap berbentuk lingkaran */
    width: 40px; /* Sesuaikan dengan ukuran tombol */
    height: 40px; /* Sesuaikan dengan ukuran tombol */
}

.toggle-button {
    position: absolute;
    bottom: 20px; /* Sesuaikan posisi tombol toggle */
    left: 50%; /* Letakkan di tengah */
    transform: translateX(-50%); /* Pusatkan secara horizontal */
    background-color: #ffffff45; /* Warna latar putih */
    color: #fff9f993; /* Warna teks biru */
    border: none;
    border-radius: 50%; /* Agar berbentuk lingkaran */
    width: 40px; /* Sesuaikan dengan ukuran tombol */
    height: 40px; /* Sesuaikan dengan ukuran tombol */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #ffffff78; /* Warna biru saat di-hover */
    color: #fff; /* Warna teks putih saat di-hover */
    transition: background-color 0.3s, color 0.3s; /* Efek transisi untuk animasi */
}

.menu li {
    margin-bottom: 0; /* Menghapus margin */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu a {
    text-decoration: none;
    color:  #ffffff77;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%; /* Menggunakan lebar penuh */
}

.menu a i {
    margin-right: 30px; /* Sesuaikan jarak antara ikon dan tulisan */
}

.menu a img {
    width: 20px; /* Sesuaikan dengan ukuran ikon */
    margin-right: 10px;
}

.logo img {
    width: 80px; /* Sesuaikan dengan ukuran logo */
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 15px;
}

.logo i, .logo h1 {
    display: inline-block; /* Agar elemen berada dalam satu baris */
    vertical-align: middle; /* Memposisikan elemen secara vertikal */
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 50px; /* Ganti dengan jarak yang diinginkan */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    flex: 1;
    padding-top:20px;
    background: linear-gradient(to bottom, #ffffff 70px, #f0f0f0 20px); /* Gradient warna */
    background-color: #f0f0f0; /* Warna background isi */
    border-top: 0 solid #ffffff;
    position: relative; /* Tambahkan untuk konten relatif */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.content hr {
    border-top: 1px solid #ddd; /* Ganti dengan warna dan properti sesuai kebutuhan */
    margin-bottom: 20px;
}

.content h2 {
    color: #00000074; /* Ganti dengan warna abu-abu gelap yang diinginkan */
    margin-bottom: 20px; /* Ganti dengan jarak yang diinginkan */
    margin-left: 20px;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffffff; /* Ganti dengan warna putih yang diinginkan */
    padding: 0; /* Tambahkan padding sesuai kebutuhan */
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pindahkan ke kanan */
}

.user-info img {
    width: 30px; /* Sesuaikan dengan ukuran foto pengguna */
    border-radius: 50%;
    margin-right: 10px;
}

.user-info p {
    margin: 0;
    color: #4e73df;
}

.separator {
    border-right: 1px solid #ecf0f1; /* Warna garis pemisah */
    margin: 0 10px;
    height: 20px;
}

a {
    text-decoration: none;
    color: #4e73df;
    font-weight: bold;
    margin-right: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0; /* Warna background footer */
    padding: 0; /* Tambahkan padding sesuai kebutuhan */
    text-align: center; /* Pusatkan teks */
    margin-bottom: 10px; /* Tambahkan margin atas sesuai kebutuhan */
}

.footer-text {
    margin: 0;
    color: #808080; /* Warna abu-abu */
    font-size: 12px; /* Ukuran font sesuai kebutuhan */
}

.logo i {
    font-size: 20px; /* Sesuaikan ukuran ikon */
    margin-right: 20px; /* Beri jarak dari nama website */
    color: #ffffff; /* Sesuaikan warna ikon */
}

/* Gaya untuk teks di dalam logo */
.logo-text {
    display: flex;
    flex-direction: column;
}

.logo i, .logo-text {
    display: inline-block; /* Agar elemen berada dalam satu baris */
    vertical-align: middle; /* Memposisikan elemen secara vertikal */
}

.menu i {
    margin-bottom: 5px; /* Jarak antara ikon dan teks */
}

.sidebar.collapsed .menu li span {
    display: none;
}

.sidebar.collapsed .menu li:hover span {
    display: block;
}

.sidebar.collapsed .logo i {
    opacity: 0;
}

.sidebar.collapsed .separator {
    border-right: none; /* Menghilangkan garis pemisah */
    margin: 0; /* Menghilangkan margin garis pemisah */
    padding: 0; /* Menghilangkan padding garis pemisah */
    display: none; /* Menyembunyikan garis pemisah */
}
